[user]
	email = kissesjelly@gmail.com
	name = Mistrie

[protocol]
	version = 2

[core]
    editor = vim

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto

[credential]
    helper = osxkeychain

[pull]
    rebase = true

[commit]
    verbose = true

[rerere]
    enabled = true

[alias]
    ch = "!git checkout $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
