[user]
	email = kissesjelly@gmail.com
	name = Mistrie
[protocol]
	version = 2
[core]
    editor = vim
[color]
    ui = true
[pull]
    rebase = true
[commit]
    verbose = true
[rerere]
    enabled = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[alias]
    ch = "!git checkout $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
